.meme-logo-img {
  display: flex;
  justify-content: center;
  align-self: center;
  position: relative;
  object-fit:contain;
  width: 150px;
  margin: 0 auto;
}

#card--container--meme--div {
  background: black;
}


/*MEME-GENERATOR-COMPONENT*/
.header {
  display: flex;
  align-items: center;
  height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: white;
  padding: 20px;
}

.header--image {
  height: 100%;
  margin-right: 6px;
}

.header--title {
  font-size: 1.25rem;
  margin-right: auto;
}

.header--project {
  font-size: 0.75rem;
  font-weight: 500;
}

.meme--form {
  display: grid;
  position: relative;
  top: 120px;
  grid-template-areas: 
  'inputTop inputBot'
  ' imageButton imageButton';
  gap: 17px;
  grid-template: auto;
  background: #1e2833;
  padding: 10px;
}

.meme--form--input {
  font-family: "Karla", sans-serif;
  font-size: 2em;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  text-indent: 5px;
  height: 40px;
  width: 100%;
  display: inline-flex;
}

#top-text {
  grid-area: inputTop;
}

#bottom-text {
 grid-area: inputBot;
}

.meme--form--button {
  grid-area: imageButton;
  position: relative;
  font-size: 1.5em;
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  color: white;
  border: none;
  cursor: pointer;
  padding: 20px;
  min-width: 30%;
  max-width: 100%;

}

.meme {
  position: relative;
  top: 200px;
}

.meme--h2 { 
  text-align: center;
  color: white;
  margin: 20px 0;
  text-decoration: none !important;
}

.meme--h2:visited {
  color: white;
}

.meme--image {
  display: block ;
  position: relative;
  max-width: 100%;
  border-radius: 3px;
  border: 2px solid black;
  margin: 0 auto;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}